.app {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.nasaPicOfTheDayImg {
  width: auto;
  height: 400px;
}

.nasaContainer {
  display: flex;
}

.nasaContainer p {
  display: flex;
  margin-left: 10px;
}
